{
  "globals": {
    "__ANDROID__": true,
    "__DEV__": true,
    "__IOS__": true,
    "browser": true
  },
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": [
    "eslint-comments",
    "import",
    "jest",
    "jsx-a11y",
    "prettier",
    "react",
    "react-hooks",
    "react-native",
    "redux-saga"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": [2],
    "arrow-body-style": [2, "as-needed"],
    "prefer-arrow-callback": [2],
    "quotes": [
      "error",
      "single",
      { "avoidEscape": true, "allowTemplateLiterals": false }
    ],
    "no-useless-constructor": [0],

    "eslint-comments/no-aggregating-enable": [2],
    "eslint-comments/no-duplicate-disable": [2],
    "eslint-comments/no-unlimited-disable": [2],
    "eslint-comments/no-unused-disable": [2],
    "eslint-comments/no-unused-enable": [2],

    "jest/consistent-test-it": [2],
    "jest/lowercase-name": [2, { "ignore": ["describe"] }],
    "jest/no-alias-methods": [2],
    "jest/no-disabled-tests": [2],
    "jest/no-duplicate-hooks": [2],
    "jest/no-commented-out-tests": [2],
    "jest/no-expect-resolves": [2],
    "jest/no-export": [2],
    "jest/no-focused-tests": [2],
    "jest/no-hooks": [
      2,
      {
        "allow": ["beforeAll", "beforeEach", "afterAll", "afterEach"]
      }
    ],
    "jest/no-identical-title": [2],
    "jest/no-if": [2],
    "jest/no-jasmine-globals": [2],
    "jest/no-jest-import": [2],
    "jest/no-standalone-expect": [2],
    "jest/no-test-callback": [2],
    "jest/no-test-prefixes": [2],
    "jest/no-test-return-statement": [2],
    "jest/no-truthy-falsy": [2],
    "jest/no-try-expect": [2],
    "jest/prefer-hooks-on-top": [2],
    "jest/prefer-spy-on": [2],
    "jest/prefer-strict-equal": [2],
    "jest/prefer-to-be-null": [2],
    "jest/prefer-to-be-undefined": [2],
    "jest/prefer-to-contain": [2],
    "jest/prefer-to-have-length": [2],
    "jest/require-to-throw-message": [2],
    "jest/valid-expect-in-promise": [2],
    "jest/valid-expect": [2],
    "jest/valid-title": [2],

    "import/order": [2, { "newlines-between": "always" }],
    "import/no-named-as-default-member": [0],
    "import/prefer-default-export": [0],
    "import/no-cycle": [2, { "maxDepth": 5 }],

    "react-hooks/rules-of-hooks": [2],
    "react-hooks/exhaustive-deps": [2],

    "redux-saga/yield-effects": [2],
    "redux-saga/no-yield-in-race": [2],
    "redux-saga/no-unhandled-errors": [2],

    "react-native/no-unused-styles": [2],
    "react-native/split-platform-components": [2],
    "react-native/no-inline-styles": [2],
    "react-native/no-color-literals": [2],
    "react-native/no-raw-text": [2],
    "react-native/no-single-element-style-arrays": [2],

    "react/forbid-prop-types": [0],
    "react/sort-comp": [0],
    "react/jsx-filename-extension": [0],
    "react/jsx-closing-tag-location": [0],
    "react/jsx-props-no-spreading": [0],

    "react/jsx-fragments": [2, "element"],
    "react/jsx-no-useless-fragment": [2],
    "react/jsx-pascal-case": [2],
    "react/state-in-constructor": [2],
    "react/static-property-placement": [2, "static public field"],
    "react/display-name": [2, { "ignoreTranspilerName": false }],
    "react/no-array-index-key": [2],
    "react/prefer-stateless-function": [2],
    "react/jsx-no-bind": [
      2,
      {
        "ignoreDOMComponents": false,
        "ignoreRefs": false,
        "allowArrowFunctions": false,
        "allowFunctions": false,
        "allowBind": false
      }
    ],
    "react/jsx-handler-names": [2],
    "react/jsx-no-literals": [2, { "noStrings": false }],
    "react/destructuring-assignment": [2],
    "react/require-default-props": [2],
    "react/jsx-no-duplicate-props": [2, { "ignoreCase": false }],
    "react/no-multi-comp": [2, { "ignoreStateless": true }],
    "react/no-unused-prop-types": [2],
    "react/no-unused-state": [2],

    "padding-line-between-statements": [
      2,
      { "blankLine": "always", "prev": ["const", "let", "var"], "next": "*" },
      {
        "blankLine": "any",
        "prev": ["const", "let", "var"],
        "next": ["const", "let", "var"]
      },
      { "blankLine": "always", "prev": "*", "next": "return" },
      { "blankLine": "always", "prev": "*", "next": "switch" },
      { "blankLine": "always", "prev": "*", "next": "try" },
      { "blankLine": "always", "prev": "*", "next": "throw" },
      { "blankLine": "always", "prev": "*", "next": "while" },
      { "blankLine": "always", "prev": "*", "next": "if" },
      { "blankLine": "always", "prev": "*", "next": "for" },
      { "blankLine": "always", "prev": "*", "next": "function" },
      { "blankLine": "always", "prev": "block-like", "next": "*" },
      { "blankLine": "any", "prev": "block-like", "next": ["case", "default"] }
    ],
    "class-methods-use-this": [2, { "exceptMethods": [] }],
    "linebreak-style": [0],
    "func-names": [2, "as-needed"],
    "no-cond-assign": [2],
    "no-console": [2],
    "no-constant-condition": [2],
    "no-control-regex": [2],
    "no-debugger": [2],
    "no-dupe-args": [2],
    "no-dupe-keys": [2],
    "no-duplicate-case": [2],
    "no-empty": [2],
    "no-empty-character-class": [2],
    "no-ex-assign": [2],
    "no-extra-boolean-cast": [2],
    "no-func-assign": [2],
    "no-invalid-regexp": [2],
    "no-irregular-whitespace": [2],
    "no-negated-in-lhs": [2],
    "no-regex-spaces": [2],
    "no-sparse-arrays": [2],
    "no-unreachable": [2],
    "use-isnan": [2],
    "valid-typeof": [2],

    "block-scoped-var": [2],
    "consistent-return": [2],
    "curly": [2, "all"],
    "default-case": [2],
    "dot-notation": [2, { "allowKeywords": true }],
    "eqeqeq": [2],
    "guard-for-in": [2],
    "no-alert": [2],
    "no-caller": [2],
    "no-div-regex": [2],
    "no-eq-null": [2],
    "no-eval": [2],
    "no-extend-native": [2],
    "no-extra-bind": [2],
    "no-fallthrough": [2],
    "no-implied-eval": [2],
    "no-iterator": [2],
    "no-labels": [2],
    "no-lone-blocks": [2],
    "no-loop-func": [2],
    "no-multi-str": [2],
    "no-native-reassign": [2],
    "no-new": [2],
    "no-new-func": [2],
    "no-new-wrappers": [2],
    "no-octal": [2],
    "no-octal-escape": [2],
    "no-param-reassign": [2, { "props": false }],
    "no-proto": [2],
    "no-redeclare": [2],
    "no-return-assign": [2],
    "no-script-url": [2],
    "no-self-compare": [2],
    "no-sequences": [2],
    "no-throw-literal": [2],
    "no-unused-expressions": [2],

    "no-warning-comments": [2],
    "no-with": [2],
    "radix": [2],
    "yoda": [2],

    "strict": [2, "global"],

    "no-catch-shadow": [2],
    "no-delete-var": [2],
    "no-shadow": [2],
    "no-shadow-restricted-names": [2],
    "no-undef": [2],
    "no-undef-init": [2],
    "no-undefined": [0],
    "no-unused-vars": [2, { "vars": "all", "args": "after-used" }],
    "no-use-before-define": [2, { "functions": false }],

    "handle-callback-err": [2, "^.*(e|E)rr"],
    "no-mixed-requires": [2],
    "no-new-require": [2],
    "no-path-concat": [2],

    "camelcase": [2],
    "new-cap": [2],
    "no-lonely-if": [2],
    "no-underscore-dangle": [0],

    "no-array-constructor": [2],
    "no-nested-ternary": [2],
    "no-new-object": [2]
  }
}
